body {
  font-family: sans-serif;
  font-size: 120%;
}
.row {
  width: 100%
   
}

@media (min-width: 1800px){

  .col-lg-4 {
    float: left;
    width: 30%;
    margin: 1px;
    background-color: red;
    border: 1px solid green;
    text-align: center;
  }
}
@media (max-width: 1799px) and (min-width: 800px){

  .col-md-6 {

    width: 49%;
    float: left;
    background-color: red;
    text-align: center;
    border: 1px solid green;
    margin: 1px;
  }
  #i3 {
    width: 98% !important;
  }

}
@media (max-width: 799px) and (min-width: 1px){

  .col-sm-12 {

    width: 100%;
    background-color: red;
    border: 1px solid;
    padding: 2px;
    text-align: center;
    border: 1px solid green;
    margin: 1px;
  }

}
